.card-display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
    margin: 1rem;
}

.discarded {
    background-color: yellow;
}

.title {
    
}
.hidden {
    visibility: hidden;
    height: 0;
}

.opponent {

}
