@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root,
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  box-sizing: border-box;

}

html[data-color-scheme="light"] {
  color-scheme: light;
  --primary: #94b0da;
  --secondary: #dba63b;
  --tertiary: #3b7bdb;
  --dark-blue: #232c33;
  --bg: white;
  --bg-hover: #d1d1d1;
  --bg-opposite: black;
 
}

html[data-color-scheme="dark"] {
  color-scheme: dark;
}
